.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}

.card {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid var(--primary-light);
}